@font-face {
    font-family: Bungee Spice;
    src: url(./Bungee_Spice/BungeeSpice-Regular.ttf);
  }
  @font-face {
    font-family: Nabla;
    src: url(./Nabla/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf);
  }
  @font-face {
    font-family: Underdog;
    src: url(./Underdog/Underdog-Regular.ttf);
  }