@import url(../fonts/fonts.css);

body {
    background-image: url("../images/background.jpg");
    background-color: blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    display: flex;            
    flex-direction: column;   
    font-family: "Underdog", sans-serif;
    margin: 0;                
    padding: 20px;            
    min-height: 100vh;        
    box-sizing: border-box;   
}
@media (max-width: 1920px) {
  body {
    background-size: cover;
  }
}
    
main {
  display: flex;            
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  max-width: 400px;  
  max-height: 450px;       
  margin: auto;           
  padding: 40px;
  scale: 1.4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

h2 {
  font: bold 2.3em Bungee Spice;
  color: #0080ff;
  margin-bottom: 15px;
}
  
p, label {
  font-size: 1.2em;
  color: yellow; 
  text-shadow: 0 0 2px black;
  margin-bottom: 25px;
}

.form-error {
  border-radius: 10px;
  background-color: red;
  color: white;
  opacity: 80%;
  font-size: 0.9em;
  width: fit-content;
  margin-top: 5px;
  padding-top: 5px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
  
button {
  font: bold 1.1em;
  color: white;
  background-color: #4880bc;
  box-shadow: 0 0 8px rgb(224, 252, 153);
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  margin: 0 auto;
  /* transition: background-color 0.2s ease;  Плавный эффект при наведении */
}
button:hover {
  background-color: #0056b3;
}
button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}