<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fchat</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <main>
        <h2 class="fw-bold">Welcome!</h2>
        <p>Enter a room name and join:</p>

        <span id="roomInputError"></span>
        <input placeholder="Room Name" id="roomInput" type="text" required>
        <button onclick="joinRoom()">Join</button>
    </main>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>