{% extends 'chat/base.html' %}
{% load static %}    

{% block title %}
  {{ current_group.name }}
{% endblock %}

{% block header %}
  <h2 class="fw-bold ms-2" data-group-uuid="{{ current_group.uuid }}">Group: <span>{{ current_group.name }}</span></h2>
{% endblock %} 

{% block content %}
  <div id="chat-log"></div>
  <div class="chat-box-tray">
    <input placeholder="Input your message, {{ user.username }}" id="chat-message-input" type="text" min="1">
    <button class="btn btn-primary" id="chat-message-submit" data-username="{{ user.username }}">Send</button>
    </input>
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{% static 'js/chat_ui.js' %}"></script>
  <script type="module" src="{% static 'js/connection.js' %}"></script>
{% endblock %}